<div class="lgn-bg">

    <div class="auth-page-wrapper d-flex justify-content-center align-items-center min-vh-100">
        <div class="container">
            <div class="row g-0 bx-shadow">

                <div class="col-lg-7 bg-white">
                    <div class="p-lg-5 p-4 login">
                        <div class="mb-3">
                            <span><img src="assets/images/brkng-nws.png" /></span>
                            <marquee width="100%" direction="left" scrolldelay="300">
                                This is a sample scrolling text that has scrolls texts to the left.
                            </marquee>
                        </div>
                        <div class="mt-2">
                            <span class="float-end">
                                <a href="https://www.muthootfinance.com/news-board" target="_blank">
                                    <img src="/assets/images/nws-evnts.png" />
                                </a>
                            </span>
                            <h3 class="text-primary Welcome">Welcome Back !</h3>
                            <p class="text-muted">Login to continue to Muthoot CFSS.</p>
                        </div>
                        <div>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div>
                                    <div class="mb-3 pb-2 form-floating">
                                        <input type="text" class="form-control" id="username"
                                            placeholder="Enter username" formControlName="username" name="username"
                                            [ngClass]="{ 'is-invalid':loginForm.controls['username'].errors  && loginForm.controls['username'].touched}">
                                        <label for="username" class="form-label">Username</label>
                                        <div class="text-danger error"
                                            *ngIf="loginForm.controls['username'].errors  && loginForm.controls['username'].touched">
                                            Username is required
                                        </div> 
                                    </div>
                                    <div class="mb-3">
                                        <div class="position-relative auth-pass-inputgroup mb-3 form-floating">
                                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                                id="password" placeholder="Enter password" formControlName="password"
                                                [ngClass]="{ 'is-invalid': loginForm.controls['password'].errors && loginForm.controls['password'].touched }">
                                            <label class="form-label" for="password-input">Password</label>
                                            <a
                                                class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted eye"
                                                 id="password-addon">
                                                <i class="mdi align-middle"
                                                    [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}"
                                                    (click)="toggleFieldTextType()"></i>
                                        </a>
                                            <div class="text-danger error "
                                                *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched">
                                                Password is required
                                            </div>
                                            <div class="mt-4">
                                                <button class="btn w-100 submit" (click)="signIn()">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </form>
                        </div>


                        <div class="mt-3 text-center">
                            <p class="mb-0">2023 © Muthoot Finance. All Rights Reserved.</p>
                            <a class="fw-normal text-primary text-decoration-underline cursor-pointer"
                                (click)="openTermsModal('terms')">Terms & Conditions</a>|
                            <a class="fw-normal text-primary text-decoration-underline cursor-pointer"
                                (click)="openTermsModal('privacy')">Privacy Policy</a>
                            <p class="mt-2">Version{{_globals.VERSION}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 bg-secondary bg-img">
                    <div class="p-lg-5 p-4">
                        <div class="lgn-rt">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>