.bg-pattern {
    /* background: url(modal-bg.png) #fff; */
    background: #4747a1 !important;
}

.user {
    margin-bottom: 15px !important;
    font-weight: bold;

}

.text-muted {
    color: #878a99 !important;
    font-weight: lighter;

}

.user-name-text {
    margin-top: 20px;
    font-size: small;
}

.mat-icon {
    font-size: 16px;
    margin-top: 2px;
}

.align {
    vertical-align: text-bottom;
    font-size: small;
}

.badgeBorder{
    border: none;
    color: black;
}