 <h2 mat-dialog-title>Terms and Conditions</h2>
<button class="close-button" (click)="closePopup()">
    <mat-icon>close</mat-icon>
</button>
 
<mat-dialog-content class="mat-typography">
    <div class="d-flex mt-2">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2 ">
            <p class="text-muted mb-0">These three together constitute the Terms and Conditions of Use of Muthoot Forex
                Services. The Terms and Conditions of Use of Muthoot Forex Services constitute a
                legally
                binding agreement between you and
                Muthoot Forex. If these are not understood or not acceptable to you either in
                full or in
                part then you should not use the Website or Services. You further understand and
                agree
                that Muthoot Forex reserves
                the right to update the Terms and Conditions of Use of Muthoot Forex Services
                from time
                to time. In accepting the Terms and Conditions of Use of Muthoot Forex Services,
                You
                represent and warrant the
                following:</p>
        </div>
    </div>
    <div class="d-flex mt-2">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2 ">
            <p class="text-muted mb-0"> "Services" means the online facilities provided by Muthoot Forex with respect to
                purchase of foreign exchange, sale of foreign exchange, Sale of Travel Card &
                Outward
                Remittance<br />
                "Website" means the website with the url https//www.muthootforex.com<br />
                "Transaction" means any transaction with the Website <br />
                "Personal Information" means any information that relates to a natural person
                and which
                is capable of identifying such person or such person’s financial aspects. <br />
                "Applicable Laws" means all the laws, rules, regulations that are applicable as
                the
                context requires in the use of the Website and/or Services <br />
                "User" means and includes anyone who is assessing the Website or making and
                Transaction
                <br />
                "Permissible Purposes" means use of the content and features of the Website for
                the
                purpose being informed about the Services, to communicate with respect to or
                connected
                to availing of Services; or for
                availing of Services<br />
                "We", "us", "our" means Muthoot Forex<br />
                "You", or "your" means User.<br />
                "Applicable Fees" means the detail of fees as provided in <br />
                "Group Company", means any entity in which can be considered as a group company
                in the
                context of Muthoot Forex as per Applicable Laws<br />
            </p>
        </div>
    </div>
    <div class="d-flex mt-2">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2 ">
            <p class="text-muted mb-0"> Terms and Conditions of Use of Website<br />
                Subject to applicable laws, use of this Website and its content is at your sole
                risk and
                responsibility. In no event Muthoot Forex will be liable to any User for any
                direct,
                indirect, incidental, special,
                exemplary, punitive or other consequential damage for any misuse of this
                Website,
                hyperlinks to any other resources from this Website. The Website is in
                compliance with
                the Applicable Laws in India. We do
                not represent that Website is appropriate or in compliance with laws of other
                jurisdictions. In using the Website, you agree to comply with all the Applicable
                Laws.</p>
        </div>
    </div>
    <div class="d-flex mt-2">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2 ">
            <p class="text-muted mb-0"> We make no warranties, claims either express or implied, concerning the content
                of the
                third party party websites linked from the Website, if any are provided. We have
                taken
                reasonable security practices
                and procedures with respect to the management of the Website nevertheless we do
                not
                guarantee that the Website will be secure or free from bugs or viruses. You are
                responsible for configuring your
                information technology infrastructure appropriately and should use the Website
                for only
                the Permissible Purposes.</p>
        </div>
    </div>
</mat-dialog-content>
 