.close-button{
position: absolute;
top: 0;
right:0;
transform: translateY(-50%);
color: black;
border: none;
background-color: transparent;
}

 .mat-icon{
    overflow: hidden;
    font-size: 21px;
    margin: 73px 25px 0px 0px;    
 }


 

 

