<h2 mat-dialog-title>Privacy Policy</h2>
<button class="close-button" (click)="closePopup()">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content class="mat-typography">
  <div class="d-flex">
    <div class="flex-shrink-0">
      <i class="ri-checkbox-circle-fill text-success"></i>
    </div>
    <div class="flex-grow-1 ms-2">
      <p class="text-muted mb-0">In accepting this Terms and Conditions of Use of Muthoot Forex Services the User
        hereby understands that the mandatory information collected will include
        Information you hereby agrees to use
        the provided Personal Information as per Applicable Laws. In providing the
        Personal Information, you further consents in transfer of such Personal
        Information to any other Group Company whose services
        will be utilised for rendering of Services. However it is hereby confirmed by
        Muthoot Forex that in the event of such a transfer of Personal Information the
        said Group Company will also be bound by
        the Applicable Laws.</p>
    </div>
  </div>
  
  <div class="d-flex mt-2">
    <div class="flex-shrink-0">
      <i class="ri-checkbox-circle-fill text-success"></i>
    </div>
    <div class="flex-grow-1 ms-2 ">
      <p class="text-muted mb-0">Muthoot Forex Limited (MFXL) is strongly committed to protect the personal and
        financial information that the user of the website (hereinafter "user(s)")
        submits to us and would endeavour to protect
        it from unauthorized use. MFXL assures the users that the information made
        available to us will be kept in strict confidentiality and we will use the
        information only to help us to service their
        transaction better, to provide them with products and services that they may
        have requested, and to inform them about other products and services that may be
        of interest to them. We do not sell you’re
        their personal information to third parties, other than in the following
        exceptional cases:</p>
    </div>
  </div>
  <div class="d-flex mt-2">
    <div class="flex-shrink-0">
      <i class="ri-checkbox-circle-fill text-success"></i>
    </div>
    <div class="flex-grow-1 ms-2 ">
      <p class="text-muted mb-0"> 1. If the information is to be given by law. 2. If there is a duty towards the
        public to reveal the information.</p>
    </div>
  </div>
  
  <div class="d-flex mt-2">
    <div class="flex-shrink-0">
      <i class="ri-checkbox-circle-fill text-success"></i>
    </div>
    <div class="flex-grow-1 ms-2 ">
      <p class="text-muted mb-0">The users authorizes MFXL to exchange, share, part with all information related
        to the details and transaction history of the users to its Affiliate regulatory
        authorities / banks / financial
        institutions / credit bureaus / agencies / participation in any required form as
        may be required by law, customary practice, credit reporting, statistical
        analysis and credit scoring, verification or
        risk management and shall not hold MFXL liable for use or disclosure of this
        information. Other websites that the users may access via website may have
        different privacy policies and access to such
        web sites will not be subject to this privacy policy. We recommend that the
        users read the privacy statement of each such website to find out how they
        protect their personal information. Due to
        changes in legislation or enhancements to functionality and content on the
        website, we may make changes to privacy policy (without being obliged to do so)
        and would reflect those changes in this
        privacy policy statement. Hence the users are requested to go through the
        privacy policy statement on a regular basis.</p>
    </div>
  </div>
  <div class="d-flex mt-2">
    <div class="flex-shrink-0">
      <i class="ri-checkbox-circle-fill text-success"></i>
    </div>
    <div class="flex-grow-1 ms-2">
      <p class="text-muted mb-0">Please note that this privacy policy does not create any contractual or other
        legal rights in or on behalf of any party, nor is it intended to do so.</p>
    </div>
  </div>
</mat-dialog-content>